#title-content{
    color: #892cdc;
    font-size: 33px; 
}

.club-img{
    width: 25%;
    border-radius: 100px;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    float: left;
    border: 1px solid white;
}

.club-img:hover{
    transform: scale(1.1);
}

.club-container{
    width: 100%;
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
}

.title2{
    color: #892cdc;
    font-size: 33px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.club-description{
    color: white;
    margin-top: 6%;
}

#introduction{
    margin-top: 9%;
    text-align: center;
    color: white;
}

#doodle-img{
    width: 34%;
    margin-left: -37%;
    margin-top: -1%;
}

#filtru-principal{
    color: white;
    margin-top: 8%;
}

.filtru-item {
	border: 3px solid #892CDC;
	margin-left: 5%;
	color: #892CDC;
	background: transparent;
}

.see-more-button {
	background-color: #bc6ff1;
	color: white;
	border: 0;
	margin-top: 6%;
	width: 120px;
    height: 50px;
    font-weight: 400;
    border-radius: 10px;
}

.see-more-button:hover {
	color: #212529;
	background-color: #892CDC;
    border-color: #dae0e5;
    cursor: pointer; 
}

#harta-cluburi {
	position: absolute;
	float: left;
	margin-top: 8%;
	margin-left: 5%;
}

#harta {
	width: 400px;
	height: 350px;
	border: 4px solid #892CDC;
}

#filtrare{
    font-weight: 600;
    color: #8229D1;
}


